# Ignore bundler config
/.bundle

.idea/*

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#ignore project files
.project
*.swp
routes.txt

.DS_Store
