<nav class="message_navigation">
	<a href="#">New Message</a>
	<a href="#">Inbox</a>
	<a href="#">Sent Mail</a>
</nav>

<section>
	<form>
		<article>
			<img src="../images/user.jpeg" alt="" class="user_thumb" /><br />
			<label>To: </label> <input type="text" value="Vinod" /><br />
			<label>Movie: </label><br />
			<input type="checkbox"><label>Horrible Bosses</label><br />
			<input type="checkbox"></label>The Artist</label><br />
			<label>Message:</label><br />
			<textarea>Hey-movie sounds awesome, you anywhere near Murray Hill?</textarea>
		</article>

		<aside>
			<input type="checkbox" />
			<label>Skip suggesting a show</label>
			<br />

			<input type="checkbox" />
			<label>Pick from Vinod's preferred shot times:</label>
				<ul>
					<li><input type="checkbox" />
						<label>
							AMC 34th St<br />
							Wednesday at<br />
							6:15pm
						</label>
					</li>
					<li><input type="checkbox" />
						<label>
							AMC 34th St<br />
							Wednesday at<br />
							8:30pm
						</label>
					</li>
					<li><input type="checkbox" />
						<label>
							AMC 34th St<br />
							Wednesday at<br />
							10:15pm
						</label>
					</li>
				</ul>
			<input type="checkbox" />
			<label>Select a show time not on Vinod's preferred list</label>
		</aside>

		<footer>
			<input type="submit" value="Send" />
		</footer>
	</form>
</section>