= render 'header'

.container
  .row
    .span10.offset1
      All movies playing within
      = select_tag '', options_for_select((1..10))
      miles of
      = text_field_tag '', '', :class => 'input-small'
      %br
      %br
      .alert.alert-info.text-center
        %a.close{'data-dismiss' => 'alert' } &times;
        %b Hint:
        Add a movie to your watchlist so that Popcorn Buddies in your area can offer to join!
      %br
      %br
      - (1..5).each do 
        .row.thumbnails
          .span2
            .thumbnail
              %img{:src => 'http://placehold.it/180x180'}
          .span8
            %a.btn.btn-primary.btn-large.pull-right Add to Watchlist
            %h3 Horrible Bosses
            %p
              %b Release Date:
              12/13/2011
              %br
              %b Genre:
              Comedy

            %ul.thumbnails{:style => 'padding: 0px;'}
              - (1..5).each do
                %li.span1
                  .thumbnail
                    %img{:src => 'http://placehold.it/75x85'}

            %p
              %b Summary:
              rem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis a
              %br
              %a More Details
            %br
