#mailbox-menu.float-left
  %ul
    %li{:class => params[:action] == "index" ? 'active':'non-active'}
      = link_to "Inbox" , :action => "index"
    %li{:class => params[:action] == "sent" ? 'active':'non-active'}
      = link_to "Sent Mail", { :controller=> "conversations", :action => "sent"}