#preferred-theaters-sidebar.float-right
  - if @preferred_theaters && !@movies.empty?
    - if @preferred_theaters.size == 0
      "Why not add some preferred theaters?"
    - else
      = current_user.firstname
      's preferred theaters:
      = "[  Partial needed for preffered theaters ]"# @TODO add perferred theatres here
