#preferred-theaters-sidebar.float-right
  - if !@preferred_theaters.nil?
    = current_user.firstname
    's preferred theaters:
    = "[  Partial needed for preffered theaters ]"# @TODO add perferred theatres here
