- content_for :content do
  = render :partial => "users/conversations/mailbox_menu"
  #preferred-theaters-sidebar.float-right
    = render :partial => "users/conversations/preferred_theaters_sidebar"
  #mailbox-content.float-left
    = content_for?(:conversations_content) ? yield(:conversations_content) : yield
= render :template => 'layouts/application'