<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "welcome", :media => "all" %>
</head>
<body>
	<a href="#" class="login_link">Login</a>

	<section>
		<div class="logotype"></div>

		<h2>Find a movie buddy today!</h2>
		
		<%= form_tag "/welcome/verify_code", {:id => 'invite_code'} do %>
		<!-- <form id="invite_code"> -->
			<label>Username: </label>
			<input type="text" placeholder="Enter your code" name="code_value" id="code_value" size="30" type="text" /><br/>
			<label>Password: </label>
			<input type="text" placeholder="Enter your code" name="code_value" id="code_value" size="30" type="text" /><br/>
			<label>Password (again): </label>
			<input type="text" placeholder="Enter your code" name="code_value" id="code_value" size="30" type="text" /><br/>
			<label>Gender: </label>
			<input type="text" placeholder="Enter your code" name="code_value" id="code_value" size="30" type="text" /><br/>
			<label>Interested In: </label>
			<input type="text" placeholder="Enter your code" name="code_value" id="code_value" size="30" type="text" /><br/>
			<input type="submit" value="Get Popcorn!" />
		<!-- </form> -->
		<%end%>

	</section>
		
</body>
</html>