<div class="showtimes">
	<h2>Theaters playing "Horrible Bosses" near 10023:</h2>
	
	<div class="showtime_container">
		<ul class="theater_list">
			<li>
				<a href="#">
					AMC Loews Kips Bay
					<a href="#" class="map_it">map it</a>
				</a>
			</li>		
		</ul><!-- theater_list -->
		<a href="#" class="more_theaters">more theaters &rarr;</a>
		
		<ul class="theater_days">
		</ul>
		
		<form class="theater_days">
			<input type="checkbox" value="9:35am" />
		</form>
		
	</div><!-- .showtime_container -->
	
</div><!-- .showtimes -->