/*
 *= require_self
 * require welcome
 *= require h5bp
 *= require movies
 * require users
*/

//--------------------------------------
// application variables import
//--------------------------------------
@import "variables";


//--------------------------------------
// twitter bootstrap
//--------------------------------------
@import "bootstrap";


//--------------------------------------
// global styles
//--------------------------------------

body {
  background-image: url(/images/bg1.jpg);
}

#header {
  .logotype {
    float: left;
    width: 295px;
    height: 50px;
    background: url(image-path("logo.png")) left center no-repeat;
    background-size: auto 100%;
    padding: 0px;
    margin: 10px 0;
  }
  a {
    font-weight: bold;
    text-decoration: underline;
  }
  .user_thumb {
    height: 45px;
    width: 45px;
  }
  .navbar-inner {
    @include border-radius(0);
    @include box-shadow(0 3px 2px rgba(0, 0, 0, 0.3));
  }
  
  
}

.alert-info {
  border-color: #aaa;
  color: #333333;
  @include gradientBar(#ccc, #aaa);
}

.nopadding {
  padding: 0px;
}

.btn-wrapper {
  @include box-shadow(0 0px 3px rgba(0, 0, 0, 0.6));
  @include border-radius(7px);
  display: inline-block;
  .btn-primary {
    @include border-radius(7px);
    margin: 0px;
  }
  margin: 0 0 10px 0;
}

.btn-primary {
  background-color: rgb(128, 0, 128);
  @include gradientBar(rgba(105, 73, 114, .5), $lgp-primay-color);

  &:hover {
    background-color: $lgp-primay-color;
  }
  &:active {
    background-color: $lgp-primay-color;
    @include box-shadow('0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05)');
  }
}

h3 {
  color: rgb(128, 0, 128);
}

.text-center {
  text-align:center;
}

select, input[type="file"] {
  height: 30px;
  width: auto;
}

/***

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}
a {color: purple;}
h1,h2,h3,h4,h5,h6 {color: rgba(100,75,130,1);}
input[type=submit]{font-weight: bold; color: rgba(100,75,130,1);}
input, textarea {
	border: rgba(155,85,185, 1);
	background: #fff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(155, 85, 185, .9);
	   -moz-box-shadow: 0px 1px 3px 0px rgba(155, 85, 185, .9);
			box-shadow: 0px 1px 3px 0px rgba(155, 85, 185, .9);
}
body {
	background: rgb(239,227,242);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZTNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, rgba(239,227,242,1) 0%, rgba(255,255,255,1) 37%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,227,242,1)), color-stop(37%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(239,227,242,1) 0%,rgba(255,255,255,1) 37%);
	background: -o-linear-gradient(top, rgba(239,227,242,1) 0%,rgba(255,255,255,1) 37%);
	background: -ms-linear-gradient(top, rgba(239,227,242,1) 0%,rgba(255,255,255,1) 37%);
	background: linear-gradient(top, rgba(239,227,242,1) 0%,rgba(255,255,255,1) 37%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe3f2', endColorstr='#ffffff',GradientType=0 );
}
.user_thumb {height: 45px; width: 45px;}

***/