//--------------------------------------
// application variables import
//--------------------------------------
@import "variables";

.mutual-friends {
  .header, .footer {
    @include bg-purple-mesh;
    padding: 4px 10px;
    text-align:center;
    font-size: 12px;
    border: 1px solid #898a8a;
  }
}

.watchlists {
  border: 1px solid #333;
  padding: 10px 24px;
  .header {
    @include bg-purple-mesh;
    padding: 4px 10px;
    margin: -10px -24px 10px;
    border: 1px solid #3e2d49;
  }
  .row-fluid {
    .description {
      margin-left: -40px;
    }
    .thumbnails > li {
      width: 75px;
      height: 100px;
      .thumbnail {
        width: inherit;
        height: inherit;
      }
    }
  }
  
}

.questions-and-answer-portion {
  margin-top: 24px;
  .answer {
    padding: 0px 18px 18px 18px
  }
}


.buddy_search_profile_pic {
	clear: both;
	float: left;
	height: 75px;
	width: 75px;
	margin: 0px 5px 0px 10px;
}

.user_mutual_table {
border-radius: 5px;
-moz-border-radius: 5px;
padding: 5px;
}

.user_mutual_table_title_cell {
color: white; background-color: purple;
padding: 2px 5px 2px 5px;
border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
}

.user_mutual_table_content_cell {
padding: 2px 5px 2px 5px;
background-color: pink;
border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
}

.user_hr {
margin: 0px
}

h3 {
  color: #75628f;
}