//--------------------------------------
// application wide variables
//--------------------------------------

$lgp-primay-color: rgb(105, 73, 114);


//--------------------------------------
// twitter bootstrap variables
//--------------------------------------

$gridColumnWidth: 75px;
$navbarBackground: $lgp-primay-color;
$navbarBackgroundHighlight: $lgp-primay-color;
$navbarText: #fff;
$navbarLinkColor: #fff;
$navbarLinkColorHover: #aaa;