- if user_signed_in?
  .container
    .navbar#header
      .navbar-inner
        .container
          %a.brand.logotype
          .nav-collapse
            %ul.nav{:style => 'margin: 18px 0px 0px;'}
              %li
                %a{:href => '#'} Popcorn Buddies
              %li
                %a{:href => '#'} Movies
              %li
                %a{:href => '#'} Reviews
            %ul.nav.pull-right
              %li
                %a{:href => profile_path}
                  = image_tag 'user.jpeg', :class=>'user_thumb', :hspace => '10px'
                  Username
                  - if current_user.is_admin
                    = link_to "Admin", admin_index_path
