%link{:href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,700', :rel => 'stylesheet', :type => 'text/css'}
= stylesheet_link_tag 'application', :media => nil
= stylesheet_link_tag params[:controller].parameterize.sub('-', '/')

-# Append your own using content_for :stylesheets
=# yield :stylesheets