/*
 *= require users/movie_add_modal
*/


@import "variables";

/* layout */
aside, section {padding: 10px; float: left;}
aside {width: 20%;}
section {width: 40%; border-right: 1px solid rgba(155, 85, 185, .7);}
h3 {margin: 10px 0;}
.cta {
  padding: 10px; border: 1px solid purple; outline: 1px solid white; text-align: center;
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #fef0fe; // Old browsers
  border-radius: 0px;
  color: #594476;

  /* fallback */
  background-color: #fbf8fd;
  background-repeat: repeat-y;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#efdef8), to(#fbf8fd));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #fbf8fd, #efdef8);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #fbf8fd, #efdef8);
  /* IE 10 */
  background: -ms-linear-gradient(left, #fbf8fd, #efdef8);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #fbf8fd, #efdef8);
}

/* lists */
li {
	padding: 5px 0;
	/*border-top: 1px solid rgba(155,155,155, 1);*/
	border-bottom: 1px solid rgba(255,255,255, 1);
}
li:nth-child(1) {border-top: none;}
li:nth-last-child(1) {border-bottom: none;}
.user_list {margin: 5px 0;}
.user_list li {border: none; display: inline-block;}
.recent_reviews li {font-size: .8em;}
.your_visitors li {min-height: 55px;}

/* thumbs */
.user_thumb {
  width: 90px;
  height: 100px;
  display: block;
  float: left;
  margin-right: 10px;
}
.user_small_thumb {
  width: 60px;
  height: 70px;
  float: left;
  margin-right: 5px;
}
.user_list li img.user_thumb {margin-right: 0px;}
.movie_thumb {
	height: 180px;
  width: 120px;
	float: left;
	display: block;
	margin-right: 10px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,.7);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,.7);
}

.description {
  display: table-cell;
  vertical-align: middle;
  height: 180px;
}

h3 {
  font-weight: normal;
}

h2 {
  color: $lgp-purple-color;
  background-color: #efefef;
  margin-bottom: 15px;
  font-weight: normal;
  padding-left: 20px;
  form {
    display: inline;
    label {
      color: $lgp-purple-color;
      float: right;
      margin-right: 10px;
      margin-top: 9px;
    }
    input {
      margin-top: 4px;
      font-size: 15px;
    }
    input[type=submit] {
      margin-top: 6px;
      margin-right: 6px;
      margin-left: 5px;
      float:right
    }
  }
}

.buddies_near_you, .popular_movies, .sidebar {
  height: 955px;
}

.buddies_near_you {
  float: left;
  border-right: 1px solid #ddd;
  .buddy {
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }
}

.popular_movies {
  margin-left: 0;
  border-right: 1px solid #ddd;
  padding-right: 11px;
  .movie {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    p {
      float: left;
      width: 100%;
    }
  }
}

.sidebar {
  float: left;
  margin-left: 0;
  .visitor {
    float: left;
    margin-bottom: 10px;
    .description {
      float: left;
      height: auto;
    }
  }
}

.clearfloat {
  clear: both;
}

a {
  color: $lgp-purple-color;
  font-weight: bold;
}

a.deco {
  font-weight: normal;
  text-decoration: underline;
}

.row-fluid > [class*="span"] {
  margin-left: 1.3%;
}

.watchlist-action {
  p { text-align: center }
  p, a.watch-lists-rem {
    display: none;
  }
  a.watch-lists-add-display { display: block; }
  a.watch-lists-add-summary { display: block; }
  &.is_watched {
    p, a.watch-lists-rem { display: block; }
    a.watch-lists-add-display { display: none; }
    a.watch-lists-add-summary { display: none; }
  }
}

.alert .close {
  right: -5px;
  top: -10px;
  font-weight: normal;
}
