// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.watchlist-action {
  p { text-align: center }
  p, a.watch-lists-rem {
    display: none;
  }
  a.watch-lists-add-display { display: block; }
  a.watch-lists-add-summary { display: block; }
  &.is_watched {
    p, a.watch-lists-rem { display: block; }
    a.watch-lists-add-display { display: none; }
    a.watch-lists-add-summary { display: none; }
  }
}

.preferred_theaters{
  .search_error { display: none; }
}

.movie_synopsis {
  p.summary {
    position:relative;
    a.more-details {
      right: 0;
      bottom: 0;
    }
  }
}


.mov_container {
   width: 800px; /* in case we want to have image rows later */
}

.movie_synopsis {
  p {margin-bottom: 0px;}
}

.thumbnails {
 .thumbnail {
   padding: 0px
 }
}