<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="profile.css" />
</head>
<body>

	<header class="prime_head">
		<div class="logotype"></div>
	
		<nav>
			<a href="javascript:void(0)"></a>
			<a href="javascript:void(0)"></a>
			<a href="javascript:void(0)"></a>
		</nav>
	
		<div class="current_user">
			<img src="" alt="" />
			<a href="javascript:void(0)" class="user_name">Username</a>
		</div><!-- .current_user -->
	</header>
	
	<section>
		<header>
			<div class="user_images">
				<img src="" alt="" class="primary_user_image" />
				<div class="alt_images">
					<img src="" alt="" />
				</div><!-- .alt_images -->
			</div><!-- .user_images -->
			<div class="user_details">
				Vinod <br />
				32/M/Straight/Manhattan
			</div><!-- .user_details -->
			<a href="#" class="message_this_user">Message</a>
			<a href="#" class="save_this_user">Save</a>
		</header>
		<article class="user_details">
			<h3>Summary:</h3>
			<p>I like cheese. You like cheese. We like cheese.</p>
			
			<h3>Favorite Movie:</h3>
			<p>Titanic</p>
		</article>
		<article class="watchlist">
			<h3>Watchlist:</h3>
			<ul>
				<li>
					<a href="#" class="lets_get_popcorn_cta">
						Let's Get Popcorn!
					</a>
					<a href="#" class="watchlist_title">
						Horrible Bosses <br />
						PG-13
					</a><br />
					Genre: Comedy <br />
					Have you ever wanted to kill your boss?<br />
					Preferred show times:
					<a href="#" class="preferred_show_time">
						9:15pm Today @ AMC Theater 34<sup>th</sup> St 
					</a>
					and 
					<a href="#" class="more_preferred_show_times">
						8 more
					</a>
				</li>
			</ul>
		</article>
	</section>

</body>
</html>